PORT=2025

# ====================
# MongoDB (Default)
# ====================
MONGODB_HOST=
MONGODB_PORT=27017
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_DATABASE=df_wallet

# ====================
# PostgreSQL (Default)
# ====================
PG_DATBASE=df_wallet
PG_HOST=localhost
PG_PORT=5432
PG_USERNAME=postgres
PG_PASSWORD=masterjoe


# ====================
# Redis (Default)
# ====================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=   
REDIS_PASSWORD=   

# ====================
# JWT Config
# ====================
JWT_SECRET=masterjoe
JWT_ISSUER=localhost

APP_URL=localhost
API_GATEWAY_PUBLIC_KEY=masterjoe